h1 {
    text-align: left;
}
body {
    background-color: #a2b9bc
}
img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10%;
}
div {
   float: left;
    text-align: center;
    
    
}